* {
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 2rem;
    padding: 40px;
}

.centerTitle, #members {
    text-align: center;
    padding: 20px;
}
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.subUl {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#leafletmap {
    width: 800px;  /* feel free to change this! */
    height: 600px; /* feel free to change this! */
}

#inputBox {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    text-decoration: underline;
}

#inputBox h1 {
    padding-bottom: 20px;
}

.incidentFilter, .neighborhoodFilter, .dateTimeFilter, .limitFilter {
    float: left;
    padding: 20px;
    font-size: 1rem;
}

#submitFilters {
    display: block;
    clear: left;
}

.filterTitle {
    padding-bottom: 20px;
}

#limit {
    width: 40%;
}

div.scroll{
    width: 95%;
    margin: 40px auto;
    height: 500px;
    overflow-y: scroll;
    overflow-x: scroll;
}

#incidentTable {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(169, 216, 169);
}
  
#incidentTable td, #incidentTable th {
    border: .2rem solid #ddd;
    padding: .5rem;
}
#incidentTable th {
    background-color: rgb(129, 129, 129);
}

.violent {
    background-color: rgb(255, 103, 103);
}

.other {
    background-color: rgb(152, 152, 252);
}

.square {
    margin: .5rem;
    height: 2.5rem;
    width: 2.5rem;
    flex: 1;
    text-align: center;
    color: white;
}

#s1 {
    background-color: rgb(255, 103, 103);
}

#s2 {
    background-color: rgb(169, 216, 169);
}

#s3 {
    background-color: rgb(152, 152, 252);
}

#legend {
    margin: .5rem auto;
    display: flex;
    width: 95%;
}

#members {
    width: 60%;
}
#members th {
    font-size: 2rem;
}

#temp {
    float: left;
}

#temp2 {
    float: right;
}

a, a:visited {
    text-decoration: none;
    color: black;
}